body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 300;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.tital {
  text-align: center;
  padding: 30px 0;
}

.tital .title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 42px;
  margin: 10px;
}

.tital .info {
  color: #999;
  font-size: 18px;
}

.footer {
  text-align: center;
  padding: 60px 0 10px;
}

.x-axis-line,
.y-axis-line {
  stroke: #dadada;
}

.x-axis-text {
  text-anchor: middle;
  font-size: 11px;
  fill: #555b51;
}

.y-axis-text {
  font-size: 11px;
  fill: #555b51;
  text-anchor: end;
}

.y-axis-line-zero {
  stroke: rgba(27, 31, 35, 0.6);
}

line {
  position: relative;
  display: block;
}

.taco-chart .axis,
.taco-chart .chart-label {
  font-size: 11px;
  fill: #555b51;
}

.taco-chart .tick .x-value-text {
  text-anchor: middle;
}

#pie-chart {
  text-align: center;
}